<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/HomePage.css">
  </head>
  <body>
    <div class="mt4"></div>
    <div class="container">
      <div class="avt">
        <img src="/img/profile-image.jpg" alt="Profile image" />
      </div>
      <div class="prfile-title-group">
        <div class="profile-title">Trần Hải Đăng</div>
        <div class="profile-sub-title">
          Thứ tôi cần là 日光, vì đèn phòng làm tôi đau mắt.
        </div>
      </div>
      <div class="blogs">
        {{#each blogs}}
            <a class="blog" href={{this.id}}>
          
            <div class="blog-image">
            <img src={{this.image}} alt="" />
          </div>

          <div class="blog-text-group">
            <div class="blog-title">
              {{this.title}}
            </div>

            <div class="blog-description">
              {{this.description}}
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </body>
</html>
